<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="in.myinnos.changeappiconandname">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="simonA"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name="in.myinnos.changeappiconandname.MainActivity"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- setting activity-alias names-->
        <activity-alias
            android:name="in.myinnos.changeappiconandname.MainActivity.setting"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_bumail"
            android:label="simonB"
            android:targetActivity="in.myinnos.changeappiconandname.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name="in.myinnos.changeappiconandname.MainActivity.chrome"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_chrome"
            android:label="chrome"
            android:targetActivity="in.myinnos.changeappiconandname.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>


    </application>

</manifest>